/*
to add

<link href="https://raw.githubusercontent.com/Hetp05/Personal-Asserts/main/sf-pro.css" rel="stylesheet">

*/

@font-face {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://github.com/Hetp05/Personal-Asserts/blob/main/SF-Pro.otf) format('tff');
}

p, h1, a, h2, h3, h4, h5, h6, header, textarea, button, br, body, html, nav, table {
    font-family: 'SF Pro';
}

.sf { 
    font-family : 'SF Pro';
}
